* {
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0;
    
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    margin-bottom: 40px;
}

#clicar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 5px;
}

#clicar  a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    
}